<div id="program" class="page-layout carded fullwidth inner-scroll">

  <!-- CENTER -->
  <div class="center">
    <div class="mb-24 UiSetter" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="form">
        <div class="h2 mb-24">Program</div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Author</mat-label>
            <mat-select placeholder="Author" formControlName="author" [compareWith]="compareFn">
              <mat-option *ngFor="let author of authors" [value]="author">{{author.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Released</mat-label>
            <input matInput type="date" formControlName="released">
          </mat-form-field>
        </div> -->

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <mat-label>Released Date</mat-label>
            <input matInput [matDatepicker]="dp3" placeholder="Released Date" disabled formControlName="released">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Level</mat-label>
            <mat-select placeholder="Level" formControlName="level">
              <mat-option *ngFor="let lvl of levels" [value]="lvl">{{lvl}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Type</mat-label>
            <mat-select placeholder="Type" formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Wods Inside</mat-label>
            <input type="number" matInput formControlName="wods_inside" [readonly]="true">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Difficulty</mat-label>
            <input type="number" matInput formControlName="difficulty">
          </mat-form-field>
        </div>

        <div formGroupName="purchase" class="blockerDisplay">
          <div class="label" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
            <span> Purchased : </span>
            <mat-slide-toggle formControlName="purchased"></mat-slide-toggle>
          </div>
          <div class="label" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
            <span> Restored : </span>
            <mat-slide-toggle formControlName="restored"></mat-slide-toggle>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Tier</mat-label>
              <mat-select placeholder="Tier" formControlName="tier">
                <mat-option *ngFor="let tier of tiers" [value]="tier">{{tier}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Price</mat-label>
              <input matInput type="number" formControlName="price">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Promo</mat-label>
              <input matInput formControlName="promo">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Category Id</mat-label>
            <input matInput formControlName="category_id">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Category Name</mat-label>
            <input matInput formControlName="category_name">
          </mat-form-field>
        </div>
        <div formGroupName="trainer_tips" class="blockerDisplay">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Trainer Tips</mat-label>
              <mat-select placeholder="Equipments" formControlName="equipment" multiple [compareWith]="compareFn">
                <mat-option *ngFor="let equip of equipments" [value]="equip">{{equip.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Tip</mat-label>
              <input matInput formControlName="tip">
            </mat-form-field>
          </div>
        </div>
        <input hidden (change)="pushFile($event)" type="file" #fileInput />
        <div class="file-uploader">
          <a *ngIf="!imgsrc" mat-mini-fab color="primary" class="add-file-button" (click)="fileInput.click();pushFile($event)"
            aria-label="Add Image File" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
            <mat-icon>add_a_photo</mat-icon>
          </a>
          <a *ngIf="imgsrc" mat-mini-fab color="warn" class="remove-file-button" (click)="popFile(imgsrc)" aria-label="Remove Image File"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
            <mat-icon>remove</mat-icon>
          </a>
          <img *ngIf="imgsrc" [src]="imgsrc" class="imgSetter" (dblclick)="popFile(imgsrc)" />
        </div>

        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Wods</mat-label>
            <mat-select placeholder="Wods" formControlName="wods" multiple [compareWith]="compareFn1">
              <mat-option *ngFor="let wod of woddata" [value]="wod">{{wod.info.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <!-- dynamic wods -->

        <!-- <div formArrayName="wods" *ngFor="let wods of form.get('wods')['controls']; let i = index" class="form-group">
          <div [formGroupName]="i"> -->
            <div class="form-group" class="row cols-md-12">
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <!-- <mat-form-field appearance="outline" fxFlex="90"> -->
                  <mat-label>Wods : </mat-label>
                  <div *ngFor="let wod of woddata;let i=index;">
                    <span>{{wod.info.name}}</span>
                  </div>
                  <!-- <mat-select (selectionChange)="onChange($event.value)" placeholder="Wod" formControlName="wod"
                    [compareWith]="compareFn1">
                    <mat-option *ngFor="let wo of woddata" [value]="wo">{{wo.info.name}}</mat-option>
                  </mat-select> -->
                <!-- </mat-form-field> -->
              </div>
              <!-- <mat-icon class="deleteBtn" *ngIf="i==0" title="Delete"></mat-icon> -->
              <a (click)="addWod()" mat-raised-button color="accent" style="height:40px;">Add Wod</a>
              <!-- <mat-icon class="deleteBtn" *ngIf="i>0" title="Delete" (click)="removeItems(i)">remove_circle</mat-icon> -->
            </div>
          <!-- </div>
        </div> -->
        <!-- <a mat-mini-fab color="primary" class="editBtn" style="font-size:large;margin-bottom: 2%;" (click)="addItems()">+</a> -->
        <!-- dynamic wods -->
        <div class="label" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">
          <span> Active : </span>
          <mat-slide-toggle formControlName="active"></mat-slide-toggle>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Mode</mat-label>
            <mat-select placeholder="Mode" formControlName="mode">
              <mat-option *ngFor="let mode of modes" [value]="mode">{{mode}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Details</mat-label>
            <input matInput formControlName="detail">
          </mat-form-field>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="Save" (click)="saveProgram()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>