<!-------Landing Screen------->
<div class="main-landing-page">
  <div class="first-set-bg">
    <div class="sec-triangle01"><img width="" src="assets/images/triangles/sec01-triangle01.png"></div>
    <div class="sec-triangle02"><img width="" src="assets/images/triangles/sec01-triangle02.png"></div>      
    <div class="logo"><img width="160" src="assets/images/landing-logo.png"></div>
    <div class="wrapper-inner">
      <div class="img-right-top">
        <img width="" src="assets/images/sopra.png">
      </div>
      <div class="left-text">
        <h1>TEST<br/>THE FITNESS<br/>CHALLENGES<br/>APP</h1>
        <p>We are about to launch WODPOD, the only fitness app that keeps you constantly motivated through competition.
            You can track performances and challenge yourself or friends on a huge number of fitness programs. Do you wanna try it?</p>
        <a class="hide-slot" (click)="scrolldown(target)">Request code</a>
      </div>
      <div class="img-right">
        <img width="" src="assets/images/iphoneXimag.png">
      </div>
      <div class="bottom-scroll-nav">
        <p>scroll</p>
        <span><img width="25" src="assets/images/scroll-icon.png"></span>
        <p>down</p>
      </div>
    </div>
  </div>
  <!-------First Page Code------->
  <div class="page-first-screen">
    <div class="position-header">
      <div class="logo-inner"><img width="100" src="assets/images/landing-logo.png"></div>
      <div class="right-navi-header">
        <!-- <span><img width="" src="assets/images/wof.png"></span> -->
        <p>Test the fitness challenges app?</p>
        <a (click)="scrolldown(target)">Request code</a>
      </div>
    </div>
    <div class="first-screen-set">
      <div class="sec01-triangle01"><img width="" src="assets/images/triangles/path-01.png"></div>
      <div class="sec01-triangle02"><img width="" src="assets/images/triangles/path-02.png"></div>      
      <div class="center-verticle">
        <div class="left-img">
          <img width="" src="assets/images/mano.png">
        </div>
        <div class="short-decriptions">
          <div class="big-num">01</div>
          <h2>GET IT</h2>
          <p>We want you to be our tester, guide, critic, pioneer. We’d like to know what you think about the experience we provide and how to make it better.
              Come on, join us.<br>Request an invitation code below, download the iOS app, sign up and start using it.<br></p>
        </div>
        <div class="left-img-bottom">
          <img width="" src="assets/images/mano.png">
        </div>
      </div>
    </div>
    <!-------Second Page Code------->
    <div class="second-screen-set">
      <div class="sec02-triangle01"><img width="" src="assets/images/triangles/path-03.png"></div>
      <div class="sec02-triangle02"><img width="" src="assets/images/triangles/sec03-path01.png"></div>
      <div class="center-verticle">
        <div class="box-title-text">
          <h3>WHAT YOU WILL EARN</h3>
          <p>As a user you’ll discover the fun way to be<br>consistent and stay motivated while working out.<br>
              But, as a tester, we are giving you much more.<br>Check below!</p>
        </div>  
        <div class="middle-three-box">
          <div class="block">
              <img width="" src="assets/images/icon-01.png">
              <h4>1 EXCLUSIVE<br>TESTER BADGE</h4>
          </div>
          <div class="block middle">
              <img width="" src="assets/images/icon-02_01.png">
              <h4>WODPOD COINS<br>to buy more fitness<br>programs</h4>
            </div>
          <div class="block">
              <img width="" src="assets/images/icon-03.png">
              <h4>A place in our<br>wall of fame</h4>
          </div>
        </div>
      </div>
    </div>

    <!-------Third Page Code------->
    <div class="first-screen-set third">
      <div class="container">        
        <div class="short-decriptions">
          <div class="small-right">
            <div class="big-num">02</div>
            <h2>USE IT</h2>
            <p>Try out a few workouts or do them all and live the complete experience. Inside you’ll find a free 9-workout program that will let you test your fitness skills; all our workouts are bodyweight and equipment free; you can enjoy them literally everywhere.
                <br/>You’ll also find a few single workouts to challenge your friends on and enjoy a little bit of competition.</p>
          </div>
        </div>        
        <div class="left-img">
          <img width="" src="assets/images/iphone-float.png">
        </div>        
      </div>
    </div>
    <!-------Fourth Page Code------->
    <div class="first-screen-set fourth">
      <div class="sec04-triangle01"><img src="assets/images/triangles/sec04-path01.png"></div>
      <div class="sec04-triangle02"><img src="assets/images/triangles/sec04-path02.png"></div>
      <div class="center-verticle">
        <div class="left-img">
          <img width="" src="assets/images/foto.png">
        </div>
        <div class="short-decriptions">
          <div class="big-num">03</div>
          <h2>FEED US BACK</h2>
          <p>After a few weeks of testing we will be reaching out just to know how the experience is going. We are going to provide a quick and smart survey to collect your opinions, suggestions and kudos!</p>
        </div>
        <div class="left-img-bottom">
          <img width="" src="assets/images/foto.png">
        </div>
      </div>
    </div>
    <!-------Form Section Code------->
    <div #target class="form-screen-set">
       <div class="middle-of-div">
          <h3>REQUEST YOUR INVITATION CODE</h3>
          <p>As soon as the WodPod iOS app will be live, we’ll send you an email containing the invitation code. In order to do that please provide us with your best email, we’ll be reaching out soon.</p>
          <div class="form-mail-design">
            <label>EMAIL ADDRESS*</label>
            <form name="landForm" [formGroup]="landForm">              
              <input type="email" matInput formControlName="emailaddress" placeholder="Your email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <input type="button" [disabled]="landForm.invalid" class="subscriber" (click)="subscribeIt()">
            </form>            
          </div>
           <!-- <small> We use MailChimp as our marketing automation platform. By submitting your email address, you acknowledge that the information you provide will be transferred to MailChimp for processing in accordance with their
               <a href="https://mailchimp.com/legal/privacy/" target="_parent">Privacy Policy </a> and
               <a href="https://mailchimp.com/legal/terms/" target="_parent"> Terms </a></small> -->
               <small>
                 By submitting your mail,you are subscribing to our newsletter according to GDPR.
               </small>
       </div> 
    </div>
    <!-------Form Section Code------->
    <div class="copy-right-sectin">
      <div class="wrapper-set">
        <div class="left-footer">
            <img width="70" src="assets/images/logos/squareLogo_black.png">
            <span>WodPod srl @2019 Via Pier Carlo Boggio 83, Turin Italy</span>
            <span>11744540011, REA number TO  1237424, contributed capital €35.000</span>
        </div>
        <div class="right-footer">
            <p>Designed by:</p>
            <p><img width="" src="assets/images/footer-logo.png"></p>    
        </div>
      </div>      
    </div>

  </div>

</div>


