@import "src/@fuse/scss/fuse";

.main-landing-page {
    float: left;
    width: 100%;
    background-image: url(assets/images/landing-screen-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .logo {
        display: block;
        text-align: center;
        margin: 80px 0 51px 0;
        padding: 0px;
    }
    .wrapper-inner {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0px 122px 0 199px;     
        @include media-breakpoint('md') {
            padding: 0px 0 0 100px;
        }
        @include media-breakpoint('lt-md') {
            padding: 0px 0 0 48px;
        }
        @include media-breakpoint('xs') {
            padding: 0px 20px 0 20px;
        }   
        .left-text {
            float: left;
            width: 50%;
            margin: 79px 0 0 0;
            padding: 0px 0px 0 48px;
            border-left: 3px solid #03a4f8;
            max-width: 380px;
            @include media-breakpoint('lt-md') {
                margin: 30px 0 0 0;
            }
            @include media-breakpoint('xs') {
                margin: 10px 0 0 0;
                width: 100%;
                text-align: center;
                max-width: none;
                padding: 0;
                border: none;
            }            
            h1 {
                display: block;
                margin: 0px;
                padding: 0px 0 17px 0;
                text-transform: uppercase;
                font-size: 50px;
                line-height: 60px;
                color: #ffffff;
                @include media-breakpoint('lt-md') {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            p {
                display: block;
                margin: 0px;
                padding: 0px 0 47px 0;
                font-size: 15px;
                line-height: 26px;
                color: rgba($color: #ffffff, $alpha: 0.8);
            }
            a {
                text-decoration: none;
                display: block;
                background-color: #03a4f8;
                color: #ffffff;
                text-transform: uppercase;
                width: 220px;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                -ms-border-radius: 2px;
                text-align: center;
                @include media-breakpoint('xs') {
                    display: inline-block;
                }
            }
        }
        .img-right {
            float: right;
            width: 50%;
            margin: 0px;
            padding: 0px 0px 0 0px;
            @include media-breakpoint('xs') {
                width: 100%;
                padding: 30px 0px 0 0px;
                text-align: center;
            }            
        }
        .bottom-scroll-nav {
            float: left;
            width: 100%;
            text-align: center;
            margin: 0px;
            padding: 0px 50px 52px 0;
            @include media-breakpoint('lt-md') {
                padding: 50px 50px 50px 0;
            }
            @include media-breakpoint('xs') {
                padding: 0px 0px 50px 0;
            }
            p {
                display: inline-block;
                margin: 0px;
                padding: 0px 18px;
                font-size: 12px;
                color: #ffffff;
                line-height: 26px;
            }
            span {
                display: inline-block;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
            }
        }
    }
}

