
          <div class="main-landing-page">
            <div class="logo"><img width="160" src="assets/images/landing-logo.png"></div>
            <div class="wrapper-inner">
                <div class="left-text">
                  <h1>Test the ultimate fitness app</h1>
                  <p>Wodpod è il tuo personal trainer digitale: che tu sia un patito di crossfit o uno sportivo occasionale, WODPOD è la chiave per superare le tue sfide. Che aspetti? Richiedi il codice, scarica l’applicazione e supera i tuoi limiti.</p>
                  <a href="#">Request code</a>
                </div>
                <div class="img-right">
                  <img width="518" src="assets/images/iphone-7-mockup-psd.png">
                </div>
                <div class="bottom-scroll-nav">

                </div>
            </div>
          </div>
